h1{
	font-size:60px;
	color:White	
}
ul{
	list-style-type: none;
	font-size:18px;
	margin:0;
	padding:0;
}
li{
	float: left;
}
li a{
	text-decoration: none;
	color:white;
	padding: 20px;
	display:block;
}
body{
	background-color:black;
}
hr{
	height:5px;
	background-color:white;
}
.eva:hover{
	background-color:#DC143C;
	color: white;
}
.piloto:hover{
	background-color:#00FF7F;
	color:white;
}